---
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
ColumnLimit: 120
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
  AfterClass: false
  AfterStruct: false
  AfterUnion: false
  AfterEnum: false
  AfterNamespace: false
  AfterCaseLabel: false
  BeforeElse: false
  BeforeCatch: false
  SplitEmptyFunction: false
IncludeBlocks: Preserve
NamespaceIndentation: None
AccessModifierOffset: -4
SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: false
